# The virtual environment; we don't want this gitted.
spsum/

notes/
res/screencasts/abhikpal/

*.sublime*
*.pyc
~*
*~

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
