{% extends "base.html" %}

{% block header %}
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Contact us</h1>
        <p>Ahhh.... we are working on a form version for this page, for now, 
        Abhik Pal<sup>1</sup> will be happy to answer questions over email.
        You can email him at <code>abhikp@muwci.net</code></p>
    </div>
</div>
{% endblock %}

{% block content %}
    <section class="bs-docs-section">
        <p><sup><b>1</b></sup>&nbsp;Abhik Pal i.e., the person with a hammer who is hitting our 
        servers like an idiot trying to get this thing to work.</p>
    </section>
{% endblock %}
