{% extends "base.html" %}

{% block header %}
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Contact us</h1>
        <p>Our mail servers still need work, you can send us emails anyway.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="bs-docs-section">
    <form class="col-md-9" action="mailto:abhikp@muwci.net?subject=Split%20Contact" method="POST">
        <div class="form-group">
            <label for="form-email">Email address</label>
            <input type="email" class="form-control" id="form-email" placeholder="someone@example.com">
        </div>
        <div class="form-group">
            <label for="form-email-content">Your Message</label>
            <textarea class="form-control" id="form-email-content" rows="5" style="margin-top: 0px; margin-bottom: 0px; resize:horizontal; max-width:100%; min-width:100%; resize: vertical;"> </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>
{% endblock %}
