{% extends "base.html" %}
{% block header %}
<div class="bs-docs-masthead" id="content">
    <div class="container">
        <h1 class="home-title">Split</h1>
        <p class="lead">We teach machines to read and summarize text.<sup>1</sup> </p>
        <p class="lead">
            <a href="/summarize/" class="btn btn-outline-inverse btn-lg">Try Now</a>
        </p>
        <p><sup>1</sup>&nbsp;Okay, we try. Our "machines" are still infants. </p>
    </div>
</div>
{% endblock header%}

{%- block content -%}
<section class="bs-docs-section">
    <h1 class="page-header">About</h1>
    <p><i>Split</i> is a web applicaiton that helps you summarize text. Our natural language
    processing algorithms take your text, identify the key ideas, then return a subset of
    the sentences that relate closely to those key ideas. Right now we are using a 
    "compression factor" of three i.e., we try to make the input text thrice as short.</p>

    <p>We are still in alpha, and this is a bare bones working prototype. If you find a bug
    of sorts, please use the <a href="/contact/">contact page</a> to let us know. You can also
    identify issues on the <a href="https://github.com/SplitSummarizer/splitsummarizer-web">GitHub
    </a> page for this project.</p>

    <p>You can try out (baby?) <i>Split</i> by navigating to the <a href="/summarize/">Summarize</a> page.
    </p>
</section>
{%- endblock content -%}

{% block headerscripts %}    
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script> #}
<script src="/static/js/trianglify.min.js"></script>
<script>
    var masthead = document.getElementById('content');
    var dimensions = masthead.getClientRects()[0];
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight,
        variance: 1.0,
        cell_size: 100,
        x_colors: ['#050030', '#CC4497'],
        y_colors: 'match_x',
        color_function: false
    });
    masthead.style['background-image'] = 'url(' + pattern.png() + ')';
</script>
{% endblock headerscripts%}
