{% extends "base.html" %}
{% block header %}
    <div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Summarize text</h1>
        <p >Non-fiction prose works best, but we won't stop you from being amused by summaries of short stories</p>
    </div>
</div>
{% endblock %}

{%- block content -%}
<section class="bs-docs-section" id="summarizer">
    <form action="/summarize/" method="post">
        <div class="form-group">
            <label for="summarizer-source-text">Copy-Paste your text below to get started.</label>
            <textarea class="form-control" id="summarizer-source-text" rows="20" style="resize:vertical;" name="source_text"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-lg btn-primary center" type="submit" value="Summarize">
        </div>
    </form>
</section>
{%- endblock content -%}
