<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                {{ title }} |  Split
            {% else %}
                Welcome to Split
            {% endif %}
        </title>
    </head>

    <body style="width: 500px; margin: auto;">
        <header>
            <h1>
                <a href="/index">Split Summarizer</a>
            </h1>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <br/><br/><br/>
        <hr/>

        <footer>
            <span>July 2016. Abhik Pal.</span>
        </footer>
    </body>
</html>
