<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                {{ title }} |  Split
            {% else %}
                Welcome to Split
            {% endif %}
        </title>
    </head>

    <body style="width: 500px; margin: auto;">
        <div>
            {% with messages = get_flashed_messages()  %}
                {% if messages %}
                <b> Messages from the server: </b>
                <ul>
                    {% for message in messages %}
                        <li> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        <header>
            <h1>
                <a href="/index">Split Summarizer</a>
            </h1>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <br/><br/><br/>
        <hr/>

        <footer>
            <span>July 2016. Abhik Pal.</span>
        </footer>
    </body>
</html>
